<card>
    <div class="card-type" align="center">
        {{ card.type }} {% if card.drop %}• {{ card.drop }}{% endif %}
    </div>
    <div align="center">
        <img data-src="{{ card. image }}" class="lazyload" />
    </div>
    <div class="card-title" align="center">
        <span>{{ card.name }}</span>
    </div>
    <div class="card-edition" align="center">
        {{ card.edition }}
    </div>
    <div class="card-text">
        <ul>
        {% for reason in card.reasons %}
            <li>{{ reason }}</li>
        {% endfor %}
        </ul>
    </div>
</card>