// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.mermaid {
    background-color: $mermaid-background-color;
    border-radius: 5px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #dee1e9;
    text-align: center;
    margin: auto;
    width: auto;
  }

img {
    max-height: 700px;
}

.dadjoke-src {
    color: darkgray;
}

.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    grid-gap: 16px;
    align-items: stretch;
    }
  .grid > card {
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  .grid > card img {
    max-width: 100%;
    margin-top: 16px;
  }
  .card-text {
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 16px;
  }
  .card-title {
      font-weight: bold;
      color: $site-title-color;
      margin-top: 16px;
      margin-bottom: 8px;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
  }
  .card-type {
      color: darkgray;
      border-bottom: 1px solid #ccc;
  }