.md-grid {
    max-width: 80rem;
}

.md-typeset {
    font-size: .65rem;
    line-height: 1.65;
}

.md-nav {
    font-size: .65rem;
    line-height: 1.3;
}

.md-header__title {
    font-size: 0.65rem;
}

th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
